@import './elements.scss';
@import './variables.scss';
@import './mixin.scss';
@import './font.scss';

* {
	margin:0;
	padding:0;
}
body {
	font-family:'NEXON Gothic';
	font-size:16px;
	color:#111;
	line-height:1.62;
}
a {
	color:inherit;
	text-decoration:none;
}
.blind {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
	visibility:hidden;
}
.row {
	max-width:1140px;
	margin:0 auto;
}
.desc {
	color:$textColor;
}
//ELEMENTS
// btns
.btn {
	display:inline-block;
	position:relative;
	min-width:152px;
	height:52px;
	padding:0 32px;
	border:none;
	background:transparent;
	font-size:1rem;
	font-weight:600;
	color:#fff;
	line-height:1.43;
	letter-spacing:.12rem;
	box-sizing:border-box;
	outline:none;
	cursor:pointer;
	&__text {
		position:relative;
	}
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius:4px;
		background:$textColor;
		@include transition;
	}
	&:hover:before {
		transform:scale(1.05);
	}

	&:active:before {
		transform:scale(.99);
	}
}