@import './variables.scss';
@import './mixin.scss';
@import './font.scss';

* {
	margin:0;
	padding:0;
}
body {
	overflow-x:hidden;
	min-height:100vh;
	background:url('~@/assets/images/bg.png');
	background-size:cover;
	font-family:'NEXON Gothic';
	font-size:16px;
	color:#111;
	line-height:1.43;
}
a {
	color:inherit;
	text-decoration:none;
}
img {
	max-width:100%;
	vertical-align:top;
}
ul,li,ol {
	list-style:none;
}
button {
	background:none;
	border:none;
}
.blind {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
	visibility:hidden;
}
.row {
	max-width:1140px;
	margin:0 auto;
}
.desc {
	color:$textColor;
	line-height:1.8;
}
.inner {
	padding:50px;
}
.box {
	position:relative;
	max-width:960px;
	margin:0 auto;
	padding:0 190px;
	&__wrap {
		padding:40px;
		background:rgba(0,0,0,.2);
	}
}
.article {
	margin-top:30px;
	&:first-child {
		margin-top:0;
	}
	&__title {
		margin-bottom:18px;
		font-weight:400;
		color:$titleColor;
	}
	&__tag {
		margin-bottom:25px;
		.tag a {
			font-size:1.5rem;
		}
	}
}
.list {
	display:flex;
	margin:0 -10px;
	flex-wrap:wrap;
	li {
		flex-basis:25%;
		flex-shrink:1;
		margin-bottom:20px;
		padding:0 10px;
		box-sizing:border-box;
		span {
			display:block;
		}
		a {
			display:block;
			&:hover {
				.list__title {
					color:$highlightColor;
				}
			}
		}
	}
	&__image {
		position:relative;
		padding-top:56.25%;
		background-repeat:no-repeat;
		background-size:cover;
	}
	&__title {
		padding:10px 0;
		color:$textColor;
		word-break:break-all;
	}
}
.more {
	text-align:right;
}
//TRANSITIONS
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all .5s;
}

.fade-transform-enter {
	opacity: 0;
	transform: translateX(-30px);
}

.fade-transform-leave-to {
	opacity: 0;
	transform: translateX(30px);
}
//ELEMENTS
// btns
.btn {
	display:inline-block;
	position:relative;
	min-width:152px;
	height:52px;
	padding:0 32px;
	border:none;
	background:transparent;
	font-size:1rem;
	font-weight:600;
	color:#fff;
	line-height:1.43;
	letter-spacing:.12rem;
	box-sizing:border-box;
	outline:none;
	cursor:pointer;
	&__text {
		position:relative;
	}
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius:4px;
		background:$textColor;
		@include transition;
	}
	&:hover:before {
		transform:scale(1.05);
	}

	&:active:before {
		transform:scale(.99);
	}
}
.btn-common {
	display:inline-block;
	margin-left:5px;
	padding:2px 5px 1px 5px;
	background:rgba(103,193,245,.2);
	font-size:.82rem;
	color:$highlightColor;
}